body {
  background: white;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

h1 {
  text-align: left;
}

.thumbnail {
  display: inline-block;
  border:  ridge;
  vertical-align: top;
}

.thumbnail>a {
  display: block;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: navy;
}

#fotky {
  text-align: center;
}
